/* SETTING UP */
@font-face {
    font-family: "Humane";
    src: url("./HUMANE\ Typeface/Web-PS/Humane-Bold.woff2") format("woff2");
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

:root {
    --background: #0F0E17;
    --quote: #a7a9be;
    --text-and-title: #FFFFFe;
    --hightlight: #FF8906;

    --big-one: 30rem;
    --gigantesc: 15rem;
    --title-size: 5rem;
    --sub-title: 3rem;
    --section-size: 2.5rem;
    --paragraph: 1rem;

    --highlight-text: (bold);
}

a {
    text-decoration: none;
    color: var(--text-and-title);
    font-size: var(--section-size);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1 {
    margin: 0;
    font-size: var(--big-one);
    font-family: "Humane", sans-serif;
}

h2 {
    margin: 0;
    font-size: var(--gigantesc);
    font-family: "Humane", sans-serif;
}

*::-webkit-scrollbar {
    width: .5rem;
}

*::-webkit-scrollbar-track {
    background: var(--background);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--hightlight);
    border-radius: 10px;
}

*::selection {
    color: var(--background);
    background-color: var(--hightlight);
}

/* BASE */
body {
    scroll-behavior: smooth;
    background-color: var(--background);
    color: var(--text-and-title);
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    width: 100%;
    /* user-select: none; */
}

.bg__noise {
    z-index: -5;
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200vh;
    background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation .2s infinite;
    opacity: .9;
    visibility: visible;
}

@keyframes bg-animation {
    0% {
        transform: translate(0, 0)
    }

    10% {
        transform: translate(-5%, -5%)
    }

    20% {
        transform: translate(-10%, 5%)
    }

    30% {
        transform: translate(5%, -10%)
    }

    40% {
        transform: translate(-5%, 15%)
    }

    50% {
        transform: translate(-10%, 5%)
    }

    60% {
        transform: translate(15%, 0)
    }

    70% {
        transform: translate(0, 10%)
    }

    80% {
        transform: translate(-15%, 0)
    }

    90% {
        transform: translate(10%, 5%)
    }

    100% {
        transform: translate(5%, 0)
    }
}

.moon {
    position: fixed;
    bottom: 4%;
    left: 4%;
}

p {
    font-size: var(--paragraph);
    font-family: "Nunito", sans-serif;
    text-align: justify;
    letter-spacing: .05rem;
    line-height: 1.5rem;
}

.quote {
    color: var(--quote);
    font-size: var(--paragraph);
}

.highlight {
    font-weight: 700;
    position: relative;
}

.highlight::before {
    content: "";
    transform: rotate(-5deg);
    width: 100%;
    height: 120%;
    border-radius: 50%;
    border: 2px var(--hightlight) solid;
    position: absolute;
    top: -.2rem;
    left: -.2rem;
    z-index: -2;
}

.cursor {
    z-index: 2;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    animation: rotateCursor 5s infinite linear;
}

@keyframes rotateCursor {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* HEADER */
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 900;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 1.5rem auto;
}

nav ul li {
    font-family: "Humane", sans-serif;
    display: inline-block;
    margin: 0 1rem;
    overflow: hidden;
    position: relative;
}

nav ul li::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--hightlight);
    backdrop-filter: hue-rotate(120deg);
    z-index: -1;
    transform: translateX(100%);
    transition: all 2.5s ease-in-out;
}

nav ul li:hover::before {
    animation: navAnim .5s ease-in-out;
}

@keyframes navAnim {
    0% {
        transform: translateX(100%);
    }

    20% {
        transform: translateX(70%);
    }

    70% {
        transform: translateX(30%);
    }

    100% {
        transform: translate(-100%);
    }
}

.status {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    animation: sliding 10s infinite linear;
}

.intro {
    width: 90%;
    height: 100vh;
    margin: auto;
    padding-top: 2.5rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.title__intro {
    display: flex;
    flex-direction: column;
}

.text__intro {
    flex-basis: 45%;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-bottom: 3rem;
}

.intro__like {
    align-self: center;
}

.like__item {
    color: var(--text-and-title);
    font-size: 2rem;
    cursor: none;
    text-align: center;
    margin: 1rem 0;
    position: relative;
}

.img__hover {
    z-index: 999;
    position: absolute;
    bottom: -50%;
    top: -100%;
    width: 150px;
    height: 200px;
    background-size: cover;
    background-position: center;
    animation: rotating 1s ease-out;
}

@keyframes rotating {
    0% {
        opacity: 0;
        transform: rotate(0deg) translateY(-50px);
    }

    5% {
        opacity: 1;
        transform: translateY(0px);
    }

    20% {
        transform: rotate(10deg);
    }

    60% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/* main {
    width: 90%;
    height: 100vh;
    margin: auto;
} */

main section {
    width: 90%;
    margin: auto;
    margin: 2rem auto;
    padding: 1rem 0;
}

.skills {
    background: var(--hightlight);
    padding: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    user-select: none;
    transition: all .2s ease-in-out;
    min-height: 61vh;
}

.skills .text__skills {
    flex-basis: 40%;
}

.skills .black {
    color: var(--background);
    font-weight: 700;
}

.skills .tech__stack {
    flex-basis: 50%;
}

.skills .tech__stack i {
    font-size: 3rem;
    margin: 1rem 1.5rem;
}

.hobbies {
    position: relative;
}

.hobbies h3 {
    font-size: var(--sub-title);
}

.quote__hobbies {
    color: var(--hightlight);
    font-size: 700;
}

.hobbies .background-video {
    height: 100%;
    width: 100vw;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: -5rem;
    z-index: -1;
    opacity: .3;
}

.hobbies .hobbies__list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
}

.hobbies__list h3 span {
    font-size: var(--section-size);
}

.hobbies .video__games,
.hobbies .UI__UX,
.hobbies .other__hobbies {
    flex: auto;
    width: 30%;
}

.experiences p {
    width: 50%;
}

.exp__list li {
    padding: 1rem 0;
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.exp__list li::before {
    content: "";
    width: 100%;
    height: 3%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--text-and-title);
    animation: borderExp 2.5s ease-in-out;
}

@keyframes borderExp {
    from {
        width: 0%
    }

    to {
        width: 100%;
    }
}

.title__exp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main__contact {
    position: relative;
    height: 100vh;
    width: 100vw;
}

.main__contact::before {
    content: "";
    z-index: -99;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: url(./contact_bg.jpg);
    background-size: cover;
    opacity: .3;
    box-shadow: 0 0 0 0 gray inset,
        0 0 0 0 green inset,
        0 0 0 0 red inset,
        -2rem 0 1rem 3rem var(--background) inset;
}

.hero__contact {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 70%;
    padding: 0;
}

.hero__contact h2 {
    align-self: center;
}

.hero__contact p {
    width: 42rem;
    font-size: var(--paragraph);
    line-height: 2.5rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--hightlight);
}

.link__contact {
    height: 30%;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social__contact {
    align-self: flex-start;
}

.social__contact a {
    margin: 0 2.5rem;
    font-size: var(--title-size);
    color: var(--text-and-title);
    position: relative;
}

.social__contact a svg {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate(-50px, 50px) rotate(45deg);
    fill: none;
    stroke: var(--stroke, var(--line));
    stroke-linecap: round;
    stroke-width: 2px;
    stroke-dasharray: var(--offset, 69px) 278px;
    stroke-dashoffset: 361px;
    transition: stroke .25s ease-in-out var(--stroke-delay, 0s), stroke-dasharray .5s;
}

.social__contact a svg:hover {
    --spacing: 4px;
    --stroke: var(--hightlight);
    --line: #BBC1E1;
    --stroke-delay: .2s;
    --offset: 180px;
}

.mail__contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.mail__contact button {
    cursor: pointer;
    font-size: 3rem;
    color: var(--text-and-title);
    background-color: var(--background);
    border: 2px solid var(--text-and-title);
    border-radius: 50px;
    padding: .5rem 1rem;
    transition: all .2s linear;
    position: relative;
    overflow: hidden;
}

.mail__contact button::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: invert(100%);
    backdrop-filter: invert(100%);
    border-radius: 50px;
    position: absolute;
    top: 0;
    left: -100%;
    transition: all .1s linear;
}

.mail__contact button:hover::before {
    left: 0;
}

.mail__contact button:hover {
    transform: translateX(25px);
}

.mail__contact p {
    font-size: var(--title-size);
    font-weight: 400;
    user-select: none;
    position: relative;
    color: var(--hightlight);
}

.alert__copy {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -3rem;
    left: 0;
    font-size: 20px;
    animation: appearing 1s ease-in-out infinite;
    overflow: hidden;
    color: var(--text-and-title);
    display: none;
}

@keyframes appearing {
    0% {
        transform: translateX(-50px);
        opacity: 0;
    }

    30% {
        transform: translateX(0px);
        opacity: 1;
    }

    90% {
        transform: translateX(0px);
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateX(30px);
    }
}